/** Estilo del CV */
/* Variables varias y elementos individuales ID*/

:root {
    --v1: rgb(193, 253, 193);
    --v2: rgb(153, 255, 153);
    --altolineainfo: 20;
    --cini: rgb(255, 174, 0);
    --cedu: rgb(157, 255, 0);
    --cexp: rgb(0, 255, 157);
    --chab: rgb(177, 204, 255);
    --cint: rgb(219, 175, 255);
  }

  * {/*fonts*/
    font-family: 'Roboto Mono', monospace;  
    font-size: 11;
    box-sizing: borderbox;
  }

.short-text { display: none; }

h1 { text-align: center}

h3 { text-align: left}

#m_ini {background-color:var(--cini);}

#m_edu {background-color:var(--cedu);}

#m_exp {background-color:var(--cexp);}

#m_hab {background-color:var(--chab);}

#m_int {background-color:var(--cint);}

#infoini{ /* div de la tablas de datos color de borde inicio*/
  border-style: solid;  
  border-width: 0px 0px 0px 13px;
  border-color: var(--cini);
  }

#infoedu{ /* div de la tablas de datos color de borde educación*/
  border-style: solid;  
  border-width: 0px 0px 0px 13px;
  border-color: var(--cedu);
  }

#infoexp{ /* div de la tablas de datos color de borde experiencia*/
  border-style: solid;  
  border-width: 0px 0px 0px 13px;
  border-color: var(--cexp);
  }
#infohab{ /* div de la tablas de datos color de borde habilidades*/
  border-style: solid;  
  border-width: 0px 0px 0px 13px;
  border-color: var(--chab);
  }
#infoint{ /* div de la tablas de datos color de borde intereses*/
  border-style: solid;  
  border-width: 0px 0px 0px 13px;
  border-color: var(--cint);
  }

  /* div invisible que cuenta lo que hice */
#infopag {
  display: none;
  position: fixed;
  top:0;
  background-color: rgb(0, 39, 0);
  color:gold;
  }

/* -----------------------------------------------------------------------------------------------elementos individuales*/
.col-container { /* contenedor de columnas para trabajo en dos o mas columnas */
    position: relative;
    display: table; /* contenedor tipo table */
    width: 100%; /* Set full-width to expand the whole page */
    }
    
.col { /* columna */
    display: table-cell; /* celda de la tablas */
    padding: 50px;
    }

.col30 {
    display: table-cell; /* celda de la tablas 30%*/
    padding: 0%;
    padding-left: 10%;
    padding-right: 10%;
    width: 30%;
    }

.col70 {
    display: table-cell; /* celda de la tablas 70%*/
    padding: 0px;
    border: 0px;
    margin: 0px;
    width: 70%;
    text-align:justify;
    vertical-align: top;
    }

    
.infocard { /* div de la tablas de datos*/
    display: table-cell; 
    padding: 0% 5% 0% 10%;
    margin: 0px;
    width: 50%;
    text-align: justify;
    vertical-align: top;
  }

.infocard p{ /*  parrafo dato persona*/
    font-weight: 300;
    height: var(--altolineainfo);
    padding: 0px;
    padding-top: 1px;
    border: 0px;
    margin: 0px;
  }
.infocard h4{ /* titulo dato persona */
    height: var(--altolineainfo);
    padding: 0px;
    padding-top: 10px;
    border: 0px;
    margin: 0px;
  }
.infocard h3{ /* titulo dato persona */
    height: var(--altolineainfo);
    color: rgb(2, 88, 2);
    padding: 0px;
    padding-top: 10px;
    border: 0px;
    margin: 0px;
  }

  .infocard ul {
    list-style-type: square;
    padding: 0px;
    padding-top: 10px;
    padding-left: 25px;
    border: 0px;
    margin: 0px;
  }

  .infocard li {
    padding: 0px;
    padding-top: 7px;
    border: 0px;
    margin: 0px;
  }

.colcontainer { 
    text-align: colcontainer;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }


.col-containerflex { 
      display: flex;
      flex-direction: row;
      text-align: colcontainer;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      }
    
.left {
    text-align:left;
    height:20px;
    margin: 0px;
    border: 0px;
    padding: 0px;
    width: 100%;
}

.left2 {
  text-align:left;
  height:20px;
  margin: 0px;
  margin-left: 10%;
  border: 0px;
  padding: 0px;
  width: 100%;
}

.center {
  text-align:center;
}
.titulo1{ 
    text-align:colcontainer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    }
    
.bor1  {
    margin-left: 10px;
    margin-top: 100px;
    padding: 0px;
    border: 0px;
    }
/* --------------------------------------------------------------------------------------------------------------Cuerpo */
body {
    /*font-family: Arial, Helvetica, sans-serif;*/
    font-weight: lighter; 
    background-image: linear-gradient(to right, white  , var(--v1));
    border: 0px;
    padding: 0px;
    margin: 0;
    }


/* ----------------------------------------------------------------------------------------Barra de navegación superior */
.nav {
    z-index : 1000;
    overflow: hidden;
    background-color: var(--v1);
    position: fixed;
    top: 0%;
    width: 99%;
  }
  
  .nav a {
    float: left;
    color: #062200;
    text-align: colcontainer;
    text-decoration: none;
    padding: 10px 6px;
    margin:5px;
    font-weight: 600;
    font-size: medium;
  }
  .nav a:hover#m_ini{
    background-color: var(--v2);
    color: black;
    font-weight: 700;
  }
  .nav a:hover#m_edu{
    background-color: var(--v2);
    color: black;
    font-weight: 700;
  }
  .nav a:hover#m_hab{
    background-color: var(--v2);
    color: black;
    font-weight: 700;
  }
  .nav a:hover#m_exp{
    background-color: var(--v2);
    color: black;
    font-weight: 700;
    }

  .nav a:hover#m_int{
    background-color: var(--v2);
    color: black;
    font-weight: 700;
  }
  /* link a la derecha de la barra */
  .nav a.aderecha {
    position: relative;
    float: right;
    background-color: #04AA6D;
    color: white;
    font-size: medium;
    font-weight: 600;
  }
  .nav a.aderecha:hover {
    background-color: var(--v2);
    color: darkgreen;
    font-weight: 700;
  }
/* ---------------------------------------------------------------------------------------divs del cuerpo del documento */

.div_cabecera {
    position:relative;
    width:100%;
    top: 30px;
    text-align: colcontainer;
    }

/* ---------------------------------------------------------------------------------------------------------------footer*/

footer {    
  z-index : 999;
  padding: 0px;
  overflow: hidden;
  background-color: var(--v1);
  position: fixed;
  bottom:0px;
  width: 99%;
  text-align: center;
  
  }

  footer p{    
    font-size:xx-small;
    }

  footer table {
      width:100%
    }

  footer table td{
    width:22%
  }

    /* link a la derecha del footer */
    footer a.aderecha {
      float: right;
      background-color: #04AA6D;
      text-decoration: none;
      font-weight: 600;
      color: white;
      font-size: small;
      padding: 10px 6px;
    }
    footer a.aderecha:hover {
      background-color: var(--v2);
      color: darkgreen;
      font-weight: 700;
      padding: 10px 6px;
    }

  /* -------------------------------------------------------------------------------------------------responsives */
  @media only screen and (max-width: 500px) {
    .nav a.aderecha {
      float: left;
    }

    footer a.aderecha {
      float: left;
    } 
    .col-containerflex {
      flex-direction: column-reverse; 
    }

  .short-text { display: inline-block; }
  .full-text { display: none; }
  }

  /* -----------------------------------------------------------------------------------------------------------cursos */
 
  .cursos:hover{
    background-color: var(--cedu);
    color:#062200;
    font-weight: bold;
    /* mostrar cartel de abrir curso: por implementar */
  }

  /* ----------------------------------------------------------------------------------------------certificado ficticio */
  .certbody{
    background-color:rgb(255, 174, 0);
    text-align:center;
  }

  .certcuerpo{
    background-color:rgb(0, 110, 255);
    text-align:colcontainer;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 10px;
    border: 15%;
    border-color: black;
    width: 80%;
    height: 80%;
    }